Flask==2.3.3
Flask-Cors==4.0.0
python-dotenv==1.0.1
pandas==1.5.3
numpy==1.24.2
requests==2.25.1
PyJWT==2.6.0
websocket-client==1.5.1
websockets==8.1
bidict==0.22.1
six==1.16.0
idna==2.10
certifi==2022.12.7
pyjsparser==2.7.1
asyncio==3.4.3
Flask-SocketIO==5.3.6
